@model DatabaseExplorer.Models.InitialDataModel
@{
    ViewBag.Title = "Index";
}

<label>Database field=</label>
<select id="select">
    @foreach (var item in Model.TableColumns)
    {
        <option data-table="@item.Item1" data-column="@item.Item2">@item.Item3</option>
    }
</select>
<label>Value=</label>
<input type="number" id="numberBox"/>
<input type="button" id="submitButton" value="Go" />

<div>
    
</div>

<script>
    $("#submitButton").click(function() {
        //http://localhost:54583
        var selected = $("#select").find(":selected");
        var url = "/Home/GetAssociated?table=" +
            selected.data("table") +
            "&column=" +
            selected.data("column") +
            "&value=" +
            $("#numberBox").val();
        $.getJSON(url,
            null,
            function(data) {

            });
    });
</script>