@model DatabaseExplorer.Models.InitialDataModel
@{
    ViewBag.Title = "Index";
}

<label>Database field=</label>
<select>
    @foreach (var item in Model.TableColumns)
    {
        <option data-table="@item.Item1" data-column="@item.Item2">@item.Item3</option>
    }
</select>
<label>Value=</label>
<input type="number"/>

<div>
    
</div>